<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
  <div>
    <h1>CARD</h1>
    <p>Categoria</p>
    <p>Produto</p>
    <p>Planos</p>
    <p>Plano 1</p>
    <p>Plano 2</p>
    <p>Preços X Periodicidades</p>
  </div>
</div>
