<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-chevron-right"><%= @price.product_plan.name %></h1>

  <%= link_to 'Voltar', product_plan_path(@price.product_plan), class: 'ls-ico-chevron-left ls-btn-primary' %>

  <h2 class="padd">Periodicidade: <%= @price.periodicity.name %></h2>

  <h2 class="padd">Valor: <%= number_to_currency @price.value %></h2>

</div>
