<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-chart-bar-up">Preços</h1>

  <%= link_to 'Voltar', product_plan_path(@price.product_plan), class: 'ls-ico-chevron-left ls-btn-primary' %>

  <div class="ls-box ls-board-box">
    <div class="description">
      <p class="title">Plano:</p>
      <p><%= @price.product_plan.name %></p>

      <p class="padd title">Periodicidade:</p>
      <p><%= @price.periodicity.name %></p>

      <p class="padd title">Valor:</p>
      <p><%= number_to_currency @price.value %></p>
    </div>
  </div>
</div>
