<div class="container-fluid">

  <h1 class="ls-title-intro ls-ico-week">Periodicidade</h1>

  <%= link_to 'Cadastrar periodicidade', new_periodicity_path, class: 'ls-btn-primary ls-btn-lg ls-btn-block' %>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Periodo (meses)</th>
      </tr>
    </thead>
    <tbody>
      <% @periodicities.each do |periodicity| %>
      <tr>
        <td><%= periodicity.name %></td>
        <td><%= periodicity.period %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
