<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-chevron-right">Editar Produto</h1>
  <%= render partial: 'form',
             locals: {form_url: product_category_product_path } %>
</div>
