<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-domain">Editar Produto</h1>
  <%= render partial: 'form',
             locals: {form_url: product_category_product_path, page: 'edit' } %>
</div>
