<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-chevron-right">Cadastrar Produto</h1>
  <%= render partial: 'form',
      locals: {form_url: product_category_products_path, page: 'new' } %>
</div>
